/* クリアフィックス
https://kojika17.com/2013/06/clearfix-2013.html
------------------------------------------------ */
@mixin clearfix() {
  content: '';
  clear: both;
  display: block;
}

.clearfix:after {
  @include clearfix();
}